.container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.leftContainer {
  background-image: url("/public/eggs.jpeg");
  height: 100vh;
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
  width: 400px;
  height: 100vh;
}
