form > h1 {
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form > h1 {
    text-align: center;
    margin-bottom: 20px;
  }
}
