.profile-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 100%;
  align-items: center;
  background-color: #495867;
  color: white;
}

.profile-name {
  align-self: center;
}

