.profile-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 100%;
  align-items: center;
  /* background-color: #495867; */
  background: linear-gradient(90deg, #6bbded6e 0%, rgba(239, 246, 255, 0.3) 50%, rgba(107, 189, 237, 0.3) 100%);
  color: black;
  padding-top: 20px;
}

.profile-img {
  /* max-width: 8vmin;
  border-radius: 50px; */
  background-color: rgb(229, 229, 229);
  margin: 1em;
  border-radius: 50%;
  max-width: 7em;
  min-width: 7em;
  max-height: 7em;
  min-height: 7em;
  object-fit: cover;
}

.profile-name {
  align-self: center;
}
