.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin-bottom: 50px;
}

input {
  height: 30px;
  width: 400px;
  border-radius: 4px;
  border: 1px solid;
  margin-top: 10px;
}

.label,
.button {
  margin-right: 0.5rem;
}

.inputContainer {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.btnMargin {
  margin-right: 8px;
}

@media screen and (max-width: 900px) {
  .container {
    display: flex;
    align-items: center;
    max-width: 100%;
    min-height: 10em;
  }

  input {
    height: 30px;
    width: 250px;
  }
}
