.formContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 20em;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.label{
  
  font-weight: 700;
  font-size: 14px;
}

.inputContainer {
  margin-bottom: 1rem;
} 

.button{
  margin-top: 3em;
  white-space: nowrap;
}

.inputField{
  font-family: inherit;
  width: 20em;
  height: 1em;
  border: 0;
  border-bottom: 2px solid rgb(170, 170, 170);
  border-radius: 0;
  outline: 0;
  font-size: 1.3rem;
  padding: 7px 0;
  background: transparent;
  font-size: 15px;
}


@media screen and (max-width: 900px) {
  .container {
    display: flex;
    align-items: center;
    max-width: 100%;
    min-height: 10em;
  }

  input {
    height: 30px;
    width: 250px;
  }
}
