
.layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #495867;
}

.main-feed {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: rgb(241, 241, 241); */
  min-width: 100%;
  min-height: 100vh;
  padding-top: 1em;
  margin-bottom: 0;
}
