
.layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, var(--light-color) 0%, rgba(239, 246, 255, 0.347) 50%, var(--light-color) 100%);
}

.main-feed {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: rgb(241, 241, 241); */
  min-width: 100%;
  min-height: 100vh;
  padding-top: 1em;
  margin-bottom: 0;
}
