* {
  margin: 0;
}

.friends-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  max-height: 100%;
  overflow-y: scroll;
  background-color: grey;
}

.friends-list-main {
  display: flex;
  background-color: rgb(152, 93, 16);
  width: 100%;
  height: 3em;
  overflow-y: scroll;
  margin-right: 0.5em;
}

.title-container{
  display: flex;
  width: 100%;
  margin-bottom: 1em;
  justify-content: center;
}

.page-title {
  display: flex;
  text-align: center;
  font-size: 1.6em;
  font-weight: 600;
}

.subtitle{
  font-weight: 700;
}

.requests-section {
  display: flex;
  flex-direction: column;
  padding: 1em;
  border-bottom: 2px solid rgba(0, 0, 0, 0.065);
  border-top: 2px solid rgba(0, 0, 0, 0.065);
  margin: 1em 0em 1em 0;
  text-align: center;
  max-height: 11em;
  min-height: 11em;
  overflow-y: scroll;
}

