* {
  margin: 0;
}

.friends-list-main {
  display: flex;
  overflow-y: scroll;
  margin-right: 0.5em;
  
}

.title-container{
  display: flex;
  /* background-color: bisque; */
  width: 100%;
  margin-bottom: 1em;
  
}

.page-title {
  display: flex;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
}

.subtitle{
  font-weight: 700;
}

.requests-section {
  display: flex;
  flex-direction: column;
  padding: 0em 1em 1em 1em;
  border-bottom: 2px solid rgba(0, 0, 0, 0.065); 
  margin-bottom: 1em;
  text-align: center;
}

