* {
  margin: 0;
}

.friends-list-main {
  display: flex;
  overflow-y: scroll;
  margin-right: 0.5em;
  
}

.page-title {
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  background-color: rgb(193, 193, 193);
  margin-bottom: 0.5em;
}

.requests-section {
  /* background-color: grey; */
  padding: 1em;
  border-bottom: 2px solid rgba(0, 0, 0, 0.065); 
  margin-bottom: 1em;
}

