nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  box-sizing: border-box;
  background-color: white;
  min-height: 4rem;
  max-height: 4rem;
  max-width: 100%;
  top: 0;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  padding: 0rem 1.5rem;
  z-index: 9999;
}

.cloud-logo {
  height: 30px;
}

.nav-post-avatar {
  background-color: rgb(229, 229, 229);
  margin: 1em;
  border-radius: 50%;
  max-width: 2em;
  min-width: 2em;
  max-height: 2em;
  min-height: 2em;
  object-fit: cover;
  border: 3px solid var(--dark-color);
}

.psynch-logo {
  font-weight: 800;
  color: var(--dark-color);
  padding-right: 10px;
}

.nav-user-name {
  font-size: 20px;
  font-weight: 600;
  margin-right: -20px;
  color: var(--dark-color)
}

.left-nav,
.right-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 1rem;
}

.menu-btn.active {
  background-color: var(--dark-color);

}
.menu-btn.inactive {
  background-color: var(--light-color);
  color: white;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: white;
  list-style: none;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  clip-path: inset(0px -5px -5px -5px);
  top: 64.1px;
  right: 0;
  border-radius: 0.5rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 1rem 1.5rem 1rem 1.5rem;
  width: 8rem;
}

.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
  transition: 500ms ease;
}

.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transform: translateX(50%);
  transition: 500ms ease;
}

.dropdown-menu div:hover {
  background-color: rgb(246, 246, 246);
  border-radius: 0.5rem;
  transition: ease 500ms;
}

.dropdown-item {
  padding: 10px;
  min-width: 8rem;
  padding: 0.6rem;
  color: black;
}

button {
  background-color: var(--light-color);
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.2rem;
  padding: 0.5rem 1rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0, rgba(0, 0, 0, 0.06) 0 1px 2px 0;
  cursor: pointer;
  color: white;
  white-space: nowrap;
}

button:hover,
.menu-btn:hover {
  background-color: var(--dark-color);
}

@media screen and (max-width: 900px) {
  .nav-post-avatar {
    display: none;
  }

  .nav-user-name {
    margin-right: 5px;
  }

  .psynch-logo{
    display: none;
  }

}