.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(251, 226, 226);
}



.leftContainer {
  min-height: 100vh;
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;

}

.leftInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
}

@media screen and (max-width: 900px) {
  .container {
    display: flex;
    justify-content: center;
    max-width: 100%;
    min-height: 10em;
    margin-right: 150px;
  }

  .leftContainer {
    display: none;
  }

  .rightContainer h1 {
    text-align: center;
  }
}
