.statsMain {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: flex-start;
  min-width: 100vw;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  top: 0;
  /* background: rgb(0,0,0);
  background: linear-gradient(90deg, var(--light-color) 0%, rgba(239, 246, 255, 0.347) 50%, var(--light-color) 100%); */
}

.statsTitle{
  display: flex;
  min-width: 270px;
  min-height: 30px;
  justify-content: center;
  align-items: center;
  padding-bottom: 14px;
  font-size: 1.6em;
  font-weight: 600;
  border-bottom: 2px solid rgba(0, 0, 0, 0.065);
  color: black;
}

.statusSquare{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 30px 20px 30px;
  border-radius: 3em;
  border: 2px rgb(237, 237, 237) solid;
  box-shadow: 
  rgba(17, 17, 26, 0.05) 0px 1px 0px,
    
  rgba(17, 17, 26, 0.1) 0px 0px 8px;
  background-color: rgb(251, 251, 251);
}

.currentStatus{
  display: flex;
  flex-direction: column;
  min-width: 270px;
  min-height: 250px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.065);
  background-color: rgb(255, 255, 255);
}

.updateBtn{
  margin: 50px 0 10px 0;
}

.topThreeStats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 270px;
  min-height: 100px;
}

.allStats {
  display: flex;
  flex-direction: column ;
  align-items: center;
  min-width: 270px;
  min-height: 100px;

}

.statsList {
  /* height: 40vh; */
  margin: 0;
  top: 0;
  height: 100%;
}

