form {
  margin: 30px 350px;
}

.commentSubmit {
  margin-top: 20px;
  margin-bottom: 20px;
}

textarea {
  border: none;
  border-bottom: 2px solid #016ba8;
  border-top: 2px solid #016ba8;
  background: none;
}

textarea:focus {
  outline: none;
}

@media screen and (max-width: 900px) {
  form {
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
