.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  margin: 0 200px;
  height: 100vh;
}

.container h1 {
  text-align: center;
}

.checkboxContainer {
  display: flex;
}

.checkboxContainer label {
  margin-left: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0;
}

select {
  height: 50px;
  font-size: 20px;
  padding-left: 15px;
}

textarea {
  padding-left: 15px;
  padding-top: 15px;
  font-size: 20px;
}

span {
  font-size: 60px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .container {
    display: flex;
    max-width: 100%;
    min-height: 10em;
    margin: 0;
    height: 600px;
    margin-top: 30px;
  }

  textarea {
    width: 70vw;
  }
}
